.heading {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.heading-2 {
    font-weight: bold;
    margin-top: 20px;
}
.paragraph {
    opacity: 0.5;
    font-size: 17px;
    margin-top: -10px;
}
.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.min-input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 330px;
    margin-right: 15px;
}
.min-input::placeholder {
    padding-left: 5px;
}
.max-input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 330px;
    margin-left: 15px;
}
.max-input::placeholder {
    padding-left: 5px;
}
.heading-3 {
    margin-top: 30px;
    border-top: 1px solid #d7d2d2;
    padding-top: 35px;
}

.form {
    display: flex;
    justify-content: center;
}
.space {
    display: flex;
    align-items: center;
}
.form-2 {
    display: flex;
}
.label-paragraph {
    opacity: 0.5;
}
.checkbox {
    height: 20px;
    width: 40px;
}
.rooms-bads-heading {
    margin-top: 40px;
    border-top: 1px solid #d7d2d2;
    padding-top: 35px;
}
.bedrooms-paragraph {
    margin-top: -10px;
    font-size: 17px;
}
.Beds-paragraph {
    font-size: 17px;
}
.Bathrooms-paragraph {
    font-size: 17px;

}
.button-div {
    display: flex;
    justify-content: space-between;
}
.mat-stroked-button {
    border-radius: 15px;
}
.btnType {
    height: 100px;
    width: 150px;
    align-items: center;
    font-size: 17px;
}
.type-container {
    display: flex;
    justify-content: space-evenly;
}
.checkbox-container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 17px;
}
.whole-checkbox {
    display: flex;
    
}
.form-3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.checkbox-container-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    font-size: 17px;
}
.limitTextHeight {
    display: none;
}
.language-btn {
    border: none;
    background: white;
    border-bottom: 1px solid grey;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}
.selectedHighlit {
    background-color: black;
    color: white;
}