<article>
  <h3 mat-dialog-title class="heading">Filters</h3>
  <mat-dialog-content class="mat-typography">
    <h1 class="heading-2">Price range</h1>
    <p class="paragraph">The average nightly price is $212</p>

    <br>

    <div class="form">
      <input [(ngModel)]="price['price_From']" class="min-input" type="text" placeholder="min price">
      <p class="space"> _ </p>
      <input [(ngModel)]="price['price_To']" class="max-input" type="text" placeholder="max price">
    </div>
    <br>

    <h1 class="heading-3"><strong>Type of place</strong></h1>
    <div class="checkbox-container">
        <div class="form-2">
            <div class="checkbox-input">
              <input [(ngModel)]="typeOfPlace['Entire_Place']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Entire place</label>
              <p class="label-paragraph">A place all to yourself</p>
            </div>
          </div>
      
          <div class="form-2">
              <div class="checkbox-input">
                <input [(ngModel)]="typeOfPlace['Private_Room']" class="checkbox" type="checkbox" id="checkbox1" value="Private-Room">
              </div>
              <div class="checkbox-text">
                <label for="checkbox1">Private room</label>
                <p class="label-paragraph">Your own room in a home or a hotel, plus some <br> shared common spaces</p>
              </div>
            </div>
      
            <div class="form-2">
              <div class="checkbox-input">
                <input [(ngModel)]="typeOfPlace['Shared_Room']" class="checkbox" type="checkbox" id="checkbox1" value="Shared-Room">
              </div>
              <div class="checkbox-text">
                <label for="checkbox1">Shared room</label>
                <p class="label-paragraph">A sleeping space and common areas that may <br> be shared with others</p>
              </div>
            </div>
    </div>
   
    <h1 class="rooms-bads-heading"><strong>Rooms and beds</strong></h1>
   
    <p class="bedrooms-paragraph">Bedrooms</p>
    <div
    class="button-div">
      <button
      *ngFor="let item of bedrooms"
      (click)="bedroomsFunc(item)" [ngClass]="{'selectedHighlit': item.clicked } " mat-stroked-button color="dark">{{ item.name }}</button>

    </div>
    <br>
    <p class="Beds-paragraph">Beds</p>
    <div class="button-div">
      <button *ngFor="let item of beds"
      (click)="bedsFunction(item)" [ngClass]="{'selectedHighlit': item.clicked } " mat-stroked-button color="dark">{{item.name}}</button>

    </div>
    <br>
    <p class="Bathrooms-paragraph">Bathrooms</p>

    <div class="button-div">
      <button *ngFor="let item of bathrooms"
      (click)="bathroomFunction(item)" [ngClass]="{'selectedHighlit': item.clicked } " mat-stroked-button color="dark">{{ item.name }} </button>
   
    </div>
    <br>
    
    <h1 class="rooms-bads-heading"><strong>Property type</strong></h1>
    <br>
    <div class="type-container">

      <button
      *ngFor="let item of propertyType"
      (click)="item.clicked = !item.clicked"
      [ngClass]="{'propertyHighlit': item.clicked}"
      class="btnType" mat-stroked-button  color="dark"> <i [class]="item.icon"></i> <strong> {{ item.name }}</strong></button>

    </div>


    <h1 class="rooms-bads-heading"><strong>Amenities</strong></h1>
    <h3><strong>Essentials</strong></h3>

    <div 
    *ngFor="let item of essentials"
    class="whole-checkbox">
      <div 
      
      class="checkbox-container-2">
        <div class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="item.clicked" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">{{item.name}}</label>
            </div>
          </div>
    </div>
  
    </div>

    <h1 class="rooms-bads-heading"><strong>Host language</strong></h1>

    <div class="whole-checkbox">
      <div class="checkbox-container-2">
        <div class="form-3">
          <div class="checkbox-input">
            <input [(ngModel)]="language['English']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
          </div>
          <div class="checkbox-text">
            <label for="checkbox1">English</label>
          </div>
        </div>
        
        <div class="form-3">
          <div class="checkbox-input">
            <input class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
          </div>
          <div class="checkbox-text">
            <label for="checkbox1">German</label>
          </div>
        </div>

   


        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Italian</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Spanish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Spanish</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Arabic']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Arabic</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Portuguese']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Portuguese</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Indonesian']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Indonesian</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Korean']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Korean</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Thai']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Thai</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Greek']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Greek</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Hebrew']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Hebrew</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Malay']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Malay</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Danish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Danish</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Norwegian']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Norwegian</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Czech']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Czech</label>
            </div>
          </div>
        </div>

        <div [ngClass]="{'limitTextHeight': isReadMore}">
          <div  class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['Ukrainian']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">Ukrainian</label>
            </div>
          </div>
        </div>

        <button class="language-btn" type="button" (click)="showText()">
          {{ isReadMore ? 'Show More': 'Show Less' }}
        </button>


      </div>

    
      <div class="checkbox-container-3">
        <div class="form-3">
            <div class="checkbox-input">
              <input [(ngModel)]="language['French']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
            </div>
            <div class="checkbox-text">
              <label for="checkbox1">French</label>
          
            </div>
          </div>
      
          <div class="form-3">
              <div class="checkbox-input">
                <input [(ngModel)]="language['Japanese']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
              </div>
              <div class="checkbox-text">
                <label for="checkbox1">Japanese</label>
              </div>
            </div>
            
            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Dryer']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Dryer</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Russian']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Russian</label>
                </div>
              </div>
            </div>
            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Chinese-(Simplified)']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Chinese (Simplified)</label>
                </div>
              </div>
            </div>
            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Hindi']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Hindi</label>
                </div>
              </div>
            </div>
            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Turkish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Turkish</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Dutch']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Dutch</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Bengali']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Bengali</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Punjabi']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Punjabi</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Sign']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Sign</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Polish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Polish</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Tagalog']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Tagalog</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Swedish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Swedish</label>
                </div>
              </div>
            </div>

            <div [ngClass]="{'limitTextHeight': isReadMore}">
              <div  class="form-3">
                <div class="checkbox-input">
                  <input [(ngModel)]="language['Finnish']" class="checkbox" type="checkbox" id="checkbox1" value="entire-place">
                </div>
                <div class="checkbox-text">
                  <label for="checkbox1">Finnish</label>
                </div>
              </div>
            </div>
            
          </div>
          </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="saveFilterBtn()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save filter</button>
  </mat-dialog-actions>
</article>
