.main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 60px auto;
    padding-bottom: 100px;
}

.card img {
    width: 290px;
    height: 190px;
    object-fit: cover;
}

.card {
    width: 290px;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    overflow: hidden;
}
.card_text{
    font-size: 15px;
    font-weight: 300;
    padding: 15px;
}