.cards {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

agm-map {
    height: 600px;

}

mat-card {
    width: 300px;
    height: 300px;
    padding: 0;
}

.example-card div {
    padding: 0 !important;
}

.gm-style-iw-d {
    padding: 0;
}

mat-card img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
}

mat-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.gm-ui-hover-effect {
    position: absolute;
}

.gm-style-iw-d {
    overflow: hidden;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right i {
    margin-top: 7px;
    margin-right: 3px;
}

gm-style-iw-d {
    padding: 10px;
}


.slider {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.slider-left {
    position: absolute;
    left: 0;
    top: 0;
}

.slider-left:hover {
    background: linear-gradient(90deg, rgba(69, 69, 69, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-right {
    position: absolute;
    right: 0;
    top: 0;
}

.slider-right:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(69, 69, 69, 0.5) 100%);
}

.slider button {
    border-radius: 5px;
    background-color: transparent;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.7;
    transition: 200ms;
    height: 200px;
    width: 20%;
    align-self: center;
    font-size: 33px;
    font-weight: 200;
    border: 0;
    border-radius: 10px;
}

.slider button:hover {
    opacity: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    color: #18aaaa;
    font-weight: 200;

}