<div class="dialog">
    <h2 mat-dialog-title>Book Room</h2>
    <mat-dialog-content class="mat-typography">
        <div class="input">
            <h4>Are u sure to book this room</h4>
            <input placeholder="Add contact (not required)" type="number">
        </div>
        <div class="card-info">
            <div class="card-box">
                <div class="top">
                    <h4>{{user?.userName}}</h4>
                    <h1>{{user?.cardNumber}}</h1>
                </div>
                <div class="bottom">
                    <div class="left">
                        <h2>CVV</h2>
                        <h3>{{user?.cardCvv}}</h3>
                    </div>
                    <div class="right">
                        <h2>Expiration date</h2>
                        <h3>{{user?.expirationDate}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="noBtn" mat-button mat-dialog-close>No</button>
        <button class="yesBtn" mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
    </mat-dialog-actions>
</div>