<nav>
    <div class="main">
        <div class="left">
            <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-icon-button
                aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="right">
            <button mat-stroked-button routerLink="/register" *ngIf="!checkUsersData.checkStorage"
                routerLinkActive="active">Register</button>
            <button mat-stroked-button routerLink="/login" *ngIf="!checkUsersData.checkStorage"
                routerLinkActive="active">Log In</button>
            <button mat-stroked-button (click)="logOut()" *ngIf="checkUsersData.checkStorage">Log Out</button>
        </div>
    </div>
</nav>