<nav>
    <div class="main">
        <div class="left">
            <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-icon-button
                aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button (click)="map()" mat-stroked-button routerLink="/hotel-map">Map</button>
        </div>
        <div class="right">
            <button mat-stroked-button routerLink="/authorization/register" *ngIf="!checkUser.checkUserLoggedIn"
                routerLinkActive="active">Register</button>
            <button mat-stroked-button routerLink="/authorization/login" *ngIf="!checkUser.checkUserLoggedIn"
                routerLinkActive="active">Log In</button>
            <button mat-stroked-button (click)="logOut()" *ngIf="checkUser.checkUserLoggedIn">Log Out</button>
        </div>
        <button mat-stroked-button (click)="goToProfile()" *ngIf="checkUser.checkUserLoggedIn">Profile</button>
    </div>
    <div class="filter-bar" *ngIf="checkUser.showHeader">
        <app-filter-slider></app-filter-slider>
    </div>
</nav>