nav {
  width: 100%;
  background-color: #313131;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.right {
  display: flex;
  gap: 10px;
}

button {
  color: white;
}

.active {
  opacity: 0.7;
}

.right button {
  border: 1px solid #444444;
}

.filter-bar {
  width: 90%;
  margin: auto;
}
