* {
  color: #fff;
}

.slider {
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}

.middle {
  display: flex;
  width: 80%;
  overflow: scroll;
  overflow-y: hidden;
}
.middle::-webkit-scrollbar{
  height: 5px;
  background-color: #454545;
}
.middle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

.middle ul {
  display: flex;
  gap: 15px;
}

.middle ul li a {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  display: flex;
  justify-content: center;
}

.middle ul li a:hover {
  border: 1px solid #18aaaa;
}

.middle ul li {
  min-width: 135px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.left {
  padding-left: 30px;
  margin-bottom: 15px;
}

.right {
  padding-right: 30px;
  margin-bottom: 15px;
}

.right button,
.left button {
  border-radius: 50%;
    font-size: 23px;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
    color: black;
    background-color: inherit;
    box-shadow: 0px 0px 2px black;
}

.right button:hover,
.left button:hover {
  border: 1px solid #18aaaa;
}

.icon {
  width: 28px;
}

.filter-btn button {
  background: #454545;
}