section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
    
}
.name{
    padding: 30px 0 0 0;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
    margin: 0 4px;
}
span{
    margin: 0 4px;
}
.point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: -5px 4px;
    width: 5px;
    font-size: 20px;
    color: rgb(41, 41, 41);
}
.point1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    font-size: 15px; 
    color:rgb(83, 82, 82); 
    font-weight: 200;
}
.point1 div{
    margin: 0 3px
}
.info {
    display: flex;
    
}
.img1 {
    margin: 5px;
    object-fit: contain;
    max-width: 560px;
   
}
.img2{
    object-fit: contain;
    max-width: 255px;
    max-height: 170px;
    margin: 0 0 10px 10px;
    
}
.flexImg{
    display: flex;
    align-items: center;
    border-radius: 20px;
    
}
.flexImg2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.flexImg3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-item {
    border-radius: 10px!important;
    overflow: hidden;
    max-height: 695px;
}

.divStyle{
    margin-top: 40px; 
    border-bottom: 1px solid rgb(192, 189, 189); 
    padding-bottom: 30px;
}