<div class="place">
    <h2>Place offers</h2>
    <p *ngFor="let item of currentHotel?.placeOffers">{{item}}</p>
</div>
<div class="rooms">
    <h2>Rooms</h2>
    <div class="room-cards">
        <div *ngFor="let item of currentHotel?.rooms" class="card">
            <div class="slider">
                <button class="slider-left" (click)="previousImage(item)">
                    < </button>
                        <img [src]="item.images[item.imgIndex ? item.imgIndex : 0]" (error)="updateUrl($event)"
                            alt="">
                        <button class="slider-right" (click)="nextImage(item)"> > </button>
            </div>
            <h3><b>Price</b>   {{item.price | currency}}</h3>
            <p>Bathrooms : {{item.bathRoomsCount}}</p>
            <p>Beds : {{item.bedsCount}}</p>
            <p>Persons : {{item.personsCount}}</p>
            <p>Child policy : {{item.childPolicy}}</p>
            <button class="booking">Book</button>
        </div>        
    </div>
</div>
    