<div class="filter-button">
    <button mat-button (click)="openDialog()" class="gradient login">Filters</button>
</div>
<div class="cards">
    <mat-card class="example-card" *ngFor="let item of hotelsData">
        <img mat-card-image [src]="item.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="left">
                <h3><b>Hotel:</b> {{item.hotelName}}</h3>
                <h3><b>Price:</b> {{item.price}}</h3>
            </div>
            <div class="right">
                <i class="ri-star-fill"></i>
                <h3>{{item.rating}}</h3>
            </div>
        </mat-card-content>
    </mat-card>

</div>