.example-card {
    max-width: 300px;
}

.cards {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

mat-card-content {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
}

.right i {
    margin-top: 4px;
}
.filter-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 48px;
    margin-top: 10px;
}
.filter-div {
    display: flex;
    height: 40px;
}

.filter-div p {
    margin-left: 10px;

}
.login {
    background-color: #FF6984;
    font-size: 16px;
    padding: 7px 10px;
    color: #fff;
    font-weight: bolder;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
    border: none;
    cursor: pointer;
}