.example-card {
  max-width: 275px;
}
.mat-card {
  box-shadow: none;
  
}
.mat-card-image {
  border-radius: inherit;
}
a{
  text-decoration: none;
  color: black;
  gap: 10px;
}
.cards {
  width: 95%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card-title-name{
  margin: 0 0 5px!important;
  font-size: 20px!important;
}
.address{
  opacity: 0.5;
font-weight: 200;
}
.right {
  display: flex;
  flex-direction: row;
}

.right i {
  margin-top: 4px;
}
img{
  max-width: 300px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
