.gradient {
    background: linear-gradient(to right, #9f0d0d, #d83636, #dd3636, #b44545);
}

.main {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f8f8f8;
    padding: 140px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.center {
    width: 50%;
}

.centerF {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

input {
    padding: 7px;
    color: black;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}

input:focus {
    border: 1px solid cornflowerblue;
}

.create {
    padding: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0px 5px black;
    border-radius: 10px;
    transition: .5s;
    color: #fff;
}

.create:hover {
    transform: scale(0.95);
}

.p {
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
    transition: 200ms;
}

.p:hover {
    text-decoration: underline;
}