<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="container">
        <div class="child">
            <div class="title">
                <h1>Register your account</h1>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Email" ngModel name="email">
                <input type="text" placeholder="Username" ngModel name="userName">
                <div class="pass-inp">
                    <input [type]="inpType" placeholder="Password" ngModel name="password">
                    <i [class]="eyeIcon" (click)="eyeIconToggle()"></i>
                </div>
                <div class="pass-inp">
                    <input [type]="inpType" placeholder="Confirm password" ngModel name="confirmPass">
                    <i [class]="eyeIcon" (click)="eyeIconToggle()"></i>
                </div>
            </div>
            <div class="reg-btn">
                <button type="submit">Register</button>
            </div>
            <div class="already">
                <a routerLink="/authorization/login">Already have an account?</a>
            </div>
        </div>
    </div>
</form>