* {
    color: #fff;
}

.container {
    background-color: #313131;
    width: 60%;
    margin: 70px auto;
    padding: 30px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.title {
    display: flex;
    justify-content: center;
}


.inputs input {
    padding: 10px 80px 10px 20px;
    font-size: 15px;
    outline: none;
    border: 2px solid #d8d8d8;
    color: black;
    border-radius: 5px;
}

.inputs input::placeholder {
    color: rgb(129, 129, 129);
}

.inputs input:focus {
    border: 2px solid rgb(156, 156, 156);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reg-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reg-btn button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    background: transparent;
    transition: .5s;
    cursor: pointer;

}

.reg-btn button:hover {
    background-color: #fff;
    color: black;
}

.right {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    width: 300px;
}

i {
    color: black;
    font-size: 17px;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.pass-inp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-container {
    display: flex;   
    justify-content: space-between;
}
.card-info {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.card-info p {
    color: black;
}
.card-info h2 {
    color: black;
}
.phone-heading {
    border-bottom: 1px solid lightgrey;
}
.email-heading {
    margin-bottom: -5px;
}
.edit-card {
    border: none;
    color: black;
}