<form #form="ngForm">
    <div class="container">
        <div class="left">
            <div class="title">
                <h1>Forgot Password</h1>
            </div>
            <div class="already">
                <p>
                    Enter Your Email address
                </p>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Email" #passwordReset ngModel name="email">
            </div>
            <div class="reg-btn">
                <button (click)="fireWorker.forgotPassword(passwordReset.value)" type="submit">Submit Email</button>
            </div>
 
        </div>
    </div>
</form>